.footer{
    background-image: url("../../assets/footer-bg.png");
    padding: 4rem 0;
    width: 98.5vw;
    background-color: rgba(47, 47, 47, 0.92);
    .footer-inside{
        width: 70%;
        margin :0 auto;
        display: flex;
        align-items: center;
        vertical-align: top;
        justify-content: space-between;
        gap: 3rem;

        .footer-col{
           
            display: flex;
            flex-direction: column;
            gap:30px;
            width: 30%;
            color: rgba(255, 255, 255, 1);
            .heading{
                color: white;
                text-transform: capitalize;
                font-weight: 500;
                font-size:2rem ;
            }
            .footer-list{
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                   list-style: none;
                   a{
                    text-transform: capitalize;
                    color: inherit;
                   }
                }
            }
        }
    }
}