.btn{
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    border: 0;
    border-radius: 5px,
}
.btn:hover{
    transition: 6.9ms ease-in-out;
    text-decoration: underline;
}

.padding{
    padding: 30px;
}